li{
    list-style: none;
}

.employee_indicator_left_circle, .employee_indicator_left, .employee_indicator, .employee_indicator_title, .employee_analyst, .employee_analyst_main, .employee_analyst_title, .employee_analyst_table_item, .employee_analyst_table_items, td, .employee_task_deadline_item, table, .employee_task, .employee_task_title, .employee_task_deadline_item > span, .employee_task_deadline_item_proc .employee_task_deadline_item_proc_user, .task_sector, .task_sector_title, .task_sector_items, .task_sector_item > p, .task_sector_item, .employee_indicator_right_item, .employee_indicator_right_item_condition
{
    background-color: var(--white);
}

.sector_box {
  margin-top: 10px;
  position: relative;
  width: 100%;
  display: flex;
  justify-content: center;
  border-radius: 7px;
  gap: 20px;
}

.analyst_title {
  position: relative;
  margin-top: 10px;
}

.analyst_title_items {

    margin-top: 20px;
  display: flex;
  gap: 20px;
}



.analyst_title_left{
    flex: 40%;
}
.analyst_title_right{
    flex: 55%;
}


/* employee_indicator component style start*/

.employee_indicator {
    position: relative;
  padding: 20px;
  flex: 40%;
  height: 280px;
  border-radius: 7px;
}

.employee_indicator_title{
    color: var(--mainColor);
    text-align: center;
    margin-top: -10px;
    padding: 0px 100px;
    font-weight: bolder 
}

.employee_indicator_items{
    display: flex;
    width: 100%;
    justify-content: space-between;
    background-color: var(--white);
    margin-top: 20px;
}

.employee_indicator_left{
    transform: rotate(-30deg);
    border: 25px solid pink;
    border-block-start-color: var(--blue30);
    border-inline-start-color: var(--blue100);
    border-block-end-color: var(--blue10);
    border-inline-end-color: var(--blue30);
    border
    margin-left: 20px;
    width: 150px;
    height: 150px;
    border-radius: 50%;
}

.employee_indicator_left_circle{
    width: 60px;
    transform: rotate(30deg);
    margin-left: 25px;
    margin-top: 25px;
    font-size: 32px;
    place-content: center;
    background-color: var(--white);
}

.employee_indicator_left_circle_p{
    background-color: var(--white);
    width: 30px;
    height: 30px;
}

.employee_indicator_right{
    flex: 50%;
    line-height: 40px;
    font-weight: bold;
}

.employee_indicator_right_item{
    display: flex;
}
.employee_indicator_right_item > span{
    margin: 0px 10px;
    display: block;
    font-size: 14px;
    background-color: var(--white);
}


.employee_indicator_right_item_p{
    width: 30px;
    height: 30px;
    margin-top: 5px;
    margin-left: 10px;
    border: 1px solid;
    border-radius: 50%;
    margin-right: 10px;
}


.symbol30{
    background-color: var(--blue100);
}
.symbol35{
    background-color: var(--blue70);
}
.symbol15{
    background-color: var(--blue30);
}
.symbol20{
    background-color: var(--blue10);
}

.employee_indicator_right_item_condition{
    font-size: 16px;
    font-weight: 600;
    color: var(--mainColor);
    text-transform: capitalize;
}

/* employee_indicator component style end*/




/* employee_analyst component style start*/
.employee_analyst{
    padding: 20px;
    height: 250px;
    padding: 20px;
    flex: 55%;
    margin-bottom: 10px;
    border-radius: 7px;
}


.employee_analyst_table_items{
    display: flex;
    justify-content: space-between;
}

.employee_analyst_table_item_box{
    display: flex;
}


.employee_analyst_title{
    font-weight: bold;
    margin-top: -10px;
    color: var(--mainColor);
    padding: 0px 130px ;
    text-align: center;
}


.employee_analyst_table_item{
    padding: 5px 10px;
    font-size: 14px;
    font-weight: 400;
    color: var(--mainColor);
}

td{
    line-height: 30px;
    font-size: 14px;
}

.item1{ 
    width: 100px;
    border-right: 1px solid;
}

.item3{
    border-right: 1px solid;
    border-left: 1px solid;
    width: 100px;
}

.item5{
    border-right: 1px solid;
    border-left: 1px solid;
}

table {
    text-align: center;
}

/* employee_analyst component style end*/


/*================= employee_task component style start =======================*/


.employee_task_deadline_item{
    display: flex;
}

.employee_task{
    padding: 20px;
    flex: 40%;
    height: 250px;
    margin-bottom: 10px;
    border-radius: 7px;
}



.employee_task_title{
    color: var(--mainColor);
    align-items: center ;
    padding: 0px 50px;
    transform: translateY(-10px);
    text-align: center;
    font-weight: bold;
}


.employee_task_deadline_item_proc{
    width: 80%;
    background-color: var(--white);
    height: 45px;
    transform: translateY(-14px);
}

.employee_task_deadline_item_proc_user{
    font-size: 12px;
}

.line30, .line40, .line60, .line80{
    position: relative;
    width: 90%;
    height: 10px;
    z-index: 1;
    border-radius: 5px;
    line-height: 20px;
    background-color: rgb(182, 138, 223);
}

.line_font{
    border-radius: 5px;
    position: absolute;
    z-index: 2;
    height: 10px;
    background-color: blue;
}

.line_font30{
    width: 30%;
}
.line_font40{
    width: 40%;
}
.line_font60{
    width: 60%;
}
.line_font80{
    width: 80%;
}

/* employee_task component style end*/
/* sector component style start*/

.task_sector {
    padding: 15px;
    border-radius: 7px;
    flex: 55%;
}

.task_sector_title{
    padding: 10px 20px;
    transform: translateX(10vw);
    font-size: 18px;
    width: 60%;
    color: var(--mainColor);
    margin-top: -10px;
    text-align: center;
}


.task_sector_item > p{
    color: var(--mainColor);
    font-weight: bold;
}



.task_sector_item {
    display: flex;
    justify-content: space-between;
    align-items: center;
    text-align: center;
}

.indicator_items {
    margin: 10px 0px;
    width: 70%;
    display: flex;
    justify-content: space-between;
    background-color: var(--white);
}

.indicator_items > div{
    border-radius: 20px;
    color: var(--white);
}
.indicator_item1{
    width: 80%;
    z-index: 10;
    background-color: var(--blue100);
}
.indicator_item2{
    border-bottom-left-radius: 0px;
    border-top-left-radius: 0px;
    transform: translateX(-18px);
    z-index: 9;
    width: 40%;
    background-color: var(--blue70);
}
.indicator_item3{
    z-index: 8;
    width: 30%;
    transform: translateX(-35px);
    background-color: var(--blue30);
}
.indicator_item4{
    z-index: 7;
    transform: translateX(-52px);
    width: 30%;
    background-color: var(--blue10);
}

/* sector component style end*/